$handle: "footer";
$active-class: "is-active";

.#{$handle} {
    @include space($spacing-sm);
    background-color: $color-white;
    color: $color-fg-gray-md;
    border-top: 1px solid $color-br-gray-lt;

    @media (min-width: $screen-lg-min) {
        @include span(10, "wide");
        margin-right: 0;
        margin-left: auto;
    }

    &__cont {
        @include font("body-xs");
        @include sectionContainer;
        display: flex;
        justify-content: space-between;

        > h6 {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }
    }
}
