$handle: "header";
$active-class: "is-active";

.#{$handle} {
    &__logo-cont {
        @include absolute($spacing-sm, auto, auto, $spacing-sm);
        position: fixed;
        z-index: 11;

        > a {
            > img {
                display: block;
                width: 100%;
                max-width: $max-width-xs;
            }
        }
    }

    &__drawer-cont {
        @include absolute(0, auto, 0, 0);
        @include pad($spacing-sm);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        opacity: 0;
        z-index: -1;
        width: 100%;
        background-color: $color-bg-gray-md;
        transition: opacity $animate-sm;

        @media (min-width: $screen-md-min) {
            @include pad($spacing-md);
        }

        @media (min-width: $screen-lg-min) {
            opacity: 1;
            z-index: 10;
            width: $max-width-sm;
            padding-top: 25vh;
        }

        [name="nav-toggle"]:checked ~ & {
            opacity: 1;
            z-index: 10;
        }

        &:after {
            @include absolute(auto, 0, 0, 0);
            content: "";
            height: $max-width-xs;

            .#{$handle}--nav-background-lt & {
                @media (min-width: $screen-md-min) {
                    background-color: $color-white;
                }
            }
        }

        > p {
            position: relative;
            opacity: 0;
            transform: translateX(-100%);
            max-width: $max-width-xs;
            padding-bottom: $spacing-sm;
            transition: opacity $animate-sm, transform $animate-sm;

            @media (max-width: $screen-md-max) {
                @include absolute(auto, auto, $spacing-md, $spacing-md);
            }

            @media (max-width: $screen-sm-max) {
                @include absolute(auto, auto, $spacing-sm, $spacing-sm);
            }

            @media (min-width: $screen-sm-min) {
                padding-bottom: $spacing-md;
            }

            @media (min-width: $screen-lg-min) {
                opacity: 1;
                transform: translateX(0);
            }

            [name="nav-toggle"]:checked ~ & {
                opacity: 1;
                transform: translateX(0);

                &:after {
                    transform: scaleX(1);
                }
            }

            &:after {
                @include absolute(auto, auto, 0, 0);
                content: "";
                transform-origin: left;
                transform: scaleX(0);
                width: $spacing-xl;
                height: 3px;
                background-color: $color-gold;
                transition: transform $animate-lg;
                transition-delay: $animate-speed-sm;

                @media (min-width: $screen-lg-min) {
                    transform: scaleX(1);
                }
            }
        }

        > nav {
            @include space($spacing-sm);
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;

            @media (min-width: $screen-lg-min) {
                margin-top: auto;
                margin-bottom: 0;
            }

            .#{$handle}--nav-background-lt & {
                @media (min-width: $screen-md-min) {
                    color: $color-fg-gray-dk;
                }
            }

            > a {
                @include fontSizeRem(2.2);
                @include lineHeightRem(4.4);
                font-family: $font-family-sans-bd-cn;
                text-transform: uppercase;
                opacity: 0;
                transform: translateX(-#{$spacing-md});
                transition:
                    color $animate-sm,
                    opacity $animate-sm,
                    transform $animate-md;

                @for $i from 1 to 5 {
                    &:nth-child(#{$i}) {
                        transition-delay: 50ms * $i;
                    }
                }

                @media (min-width: $screen-sm-min) {
                    @include fontSizeRem(3.2);
                    @include lineHeightRem(5.5);
                }

                @media (min-width: $screen-lg-min) {
                    @include fontSizeRem(1.4);
                    @include lineHeightRem(3.0);
                    opacity: 1;
                    transform: translateX(0);
                }

                [name="nav-toggle"]:checked ~ & {
                    opacity: 1;
                    transform: translateX(0);
                }

                &:hover,
                &.#{$active-class} {
                    color: $color-gold;
                }
            }
        }
    }

    &__toggle-cont {
        @include absolute($spacing-md, $spacing-sm);
        position: fixed;
        z-index: 11;

        @media (min-width: $screen-lg-min) {
            display: none;
        }

        > label {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: $spacing-sm;
            height: $spacing-xs;

            > span {
                border-bottom: 2px solid $color-gold;
                transform: scaleX(0.75);
                transition: transform $animate-sm;
            }

            &:hover > span {
                transform: scaleX(1);
            }

            [name="nav-toggle"]:checked ~ & {
                justify-content: center;

                > span {
                    &:first-child {
                        transform: rotate(45deg) scaleX(1) translateY(1px);
                    }
                    &:last-child {
                        transform: rotate(-45deg) scaleX(1) translateY(-1px);
                    }
                }
            }
        }
    }
}
