$handle: "hero";

.#{$handle} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;

    .background-image {
        background-size: 75vw;
        background-position-y: $spacing-lg;

        @media (min-width: $screen-sm-min) {
            background-size: 70vh;
            background-position-y: top;
        }
    }

    > h1 {
        @include fromBottom;
        @include font("heading-xl");
        @include pad($spacing-sm);
        position: relative;
        max-width: $max-width-md;
        margin-top: $spacing-xl;

        @media (min-width: $screen-md-min) {
            @include pad($spacing-lg);
            max-width: $max-width-xl;
            margin-top: calc(25vh - #{$spacing-xs}); // try to align the subheading to the header intro on large screens
        }
    }

    > nav {
        @include swipeIn;
        align-items: center;

        @media (max-width: $screen-sm-max) {
            margin-top: $spacing-md;
        }

        @media (min-width: $screen-md-min) {
            @include pad($spacing-sm * 3);
            display: flex;
            justify-content: space-around;
            height: $spacing-lg * 2;
        }

        @media (min-width: $screen-lg-min) {
            justify-content: space-between;
        }

        > a {
            @include space($spacing-sm);
            @include pad($spacing-sm);
            @include font("heading-md");
            display: flex;
            align-items: center;
            position: relative;
            white-space: nowrap;
            color: $color-black;
            border-top: 2px solid $color-br-gray-lt;
            transition: color $animate-sm;

            @media (max-width: $screen-sm-max) {
                justify-content: space-between;
            }

            @media (min-width: $screen-md-min) {
                border: 0;
            }

            &:first-child {
                border: 0;
            }

            @media (min-width: $screen-sm-min) {
                @include pad($spacing-md);
            }

            @media (min-width: $screen-md-min) {
                @include pad($spacing-lg);
            }

            @media (min-width: $screen-lg-min) {
                @include pad($spacing-sm, $spacing-lg);
            }

            > i {
                width: $spacing-sm;
                height: $spacing-sm;
                margin-left: $spacing-xs;
                fill: $color-gold;
                transition: transform $animate-sm;
            }

            &:hover {
                color: $color-gold;

                > i {
                    transform: translateX($spacing-xs);
                }
            }
        }
    }
}
