$handle: "hero";

.#{$handle} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;

    > h1 {
        @include font("heading-xl");
        @include pad($spacing-sm);
        position: relative;
        max-width: $max-width-md;
        margin-top: $spacing-xl;

        @media (min-width: $screen-md-min) {
            max-width: $max-width-xl;
            margin-top: calc(25vh - #{$spacing-xs}); // try to align the subheading to the header intro on large screens
        }
    }

    > nav {
        align-items: center;
        position: relative;
        background-color: $color-white;

        @media (max-width: $screen-sm-max) {
            margin-top: $spacing-md;
        }

        @media (min-width: $screen-md-min) {
            display: flex;
            justify-content: space-between;
            height: $max-width-xs;
        }

        > a {
            @include space($spacing-sm);
            @include pad($spacing-sm);
            @include font("heading-md");
            display: flex;
            align-items: center;
            position: relative;
            white-space: nowrap;
            color: $color-black;
            border-top: 2px solid $color-br-gray-lt;
            transition: color $animate-sm;

            @media (max-width: $screen-sm-max) {
                justify-content: space-between;
            }

            @media (min-width: $screen-md-min) {
                border: 0;
            }

            &:first-child {
                border: 0;
            }

            @media (min-width: $screen-sm-min) {
                @include pad($spacing-md);
            }

            @media (min-width: $screen-md-min) {
                @include pad($spacing-lg);
            }

            @media (min-width: $screen-lg-min) {
                @include pad($spacing-sm);
            }

            > i {
                width: $spacing-sm;
                height: $spacing-sm;
                margin-left: $spacing-sm;
                fill: $color-gold;
                transition: transform $animate-sm;
            }

            &:hover {
                color: $color-gold;

                > i {
                    transform: translateX($spacing-xs);
                }
            }
        }
    }
}
