$handle: "main";

.#{$handle} {
    @media (min-width: $screen-lg-min) {
        width: calc(100vw - #{$max-width-sm});
        // min-height: 100vh;
        margin-right: 0;
        margin-left: auto;
    }
}
