$handle: "ordered-list";

.#{$handle} {
    @include sectionContainer;
    @include sectionSpacing;

    > ol {
        > li {
            @include flex;
            @include listMargin($spacing-md);

            > div {
                width: 100%;

                @media (min-width: $screen-md-min) {
                    width: 50%;
                }

                &:first-child {
                    padding-right: $spacing-md;

                    > h2 {
                        @include font("heading-md");
                        position: relative;
                        max-width: $max-width-sm;
                        padding-top: $spacing-md;

                        &:before {
                            @include absolute(0, auto, auto, 0);
                            content: "";
                            height: 4px;
                            background-color: goldenrod;
                            width: $spacing-lg;
                        }
                    }

                    > em {
                        @include fontSizeRem(12.0);
                        @include lineHeightRem(12.0);
                        display: block;
                        margin-top: $spacing-sm;
                        color: $color-bg-gray-lt;
                    }
                }

                &:last-child {
                    @media (max-width: $screen-sm-max) {
                        margin-top: $spacing-sm;
                    }
                }
            }
        }
    }
}
