$handle: "ordered-list";

.#{$handle} {
    @include sectionContainer;
    @include sectionSpacing;

    > ol {
        > li {
            @include flex;
            @include listMargin($spacing-md);

            > div {
                width: 100%;

                @media (min-width: $screen-sm-min) {
                    width: 50%;
                }

                &:first-child {
                    padding-right: $spacing-md;

                    @media (max-width: $screen-xs-max) {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                    }

                    > h2 {
                        @include sectionHeading;
                        max-width: $max-width-xs;

                        @media (min-width: $screen-sm-min) {
                            max-width: 300px;
                        }
                    }

                    > em {
                        @include fadeIn;
                        @include fromBottom;
                        @include font("number-lg");
                        display: block;
                        opacity: 0.05 !important;
                        color: $color-bg-gray-lt;

                        @media (min-width: $screen-sm-min) {
                            margin-top: $spacing-sm;
                        }
                    }
                }

                &:last-child {
                    @include fadeIn;

                    @media (max-width: $screen-sm-max) {
                        margin-top: $spacing-sm;
                    }
                }
            }
        }
    }
}
