$handle: "rich-text";

.#{$handle} {
    @include sectionSpacing;
    background-color: $color-white;
    color: $color-fg-gray-dk;

    &__cont {
        @include sectionContainer;

        > div {
            max-width: $max-width-lg;

            & h1, h2, h3, h4, h5, h6 {
                margin-top: $spacing-sm;

                &:first-child { margin-top: 0; }
                & + p {
                    margin-top: $spacing-xs / 2;
                }
            }

            & h2, h3, h4, h5, h6 {
                @include font("heading-sm");
                @include emphasize(true);
                margin-bottom: $spacing-sm;

                > em {
                    color: $color-fg-gray-dk;
                }
            }

            h2 {
                @include sectionHeading;
            }

            & p,
            & ul > li,
            & ol > li {
                @include listMargin($spacing-sm);
                display: block;
                width: 100%;
                color: #5E5656; // Per Josh
                color: $color-fg-gray-dk; // Per Josh 200902
            }

            & sup {
                font-size: 0.75em;
            }

            & ul, ol {
                @include listMargin($spacing-sm);
                list-style-position: outside;
            }

            & ul > li,
            & ol > li {
                position: relative;
                margin-top: $spacing-xs;
                padding-left: $spacing-xs;

                &:before {
                    @include absolute(0, auto, auto, 0);
                    color: $color-gold;
                }
            }

            & ul > li {
                &:before {
                    content: "\2022";
                }
            }

            & ol > li {
                counter-increment: li;
                padding-left: $spacing-xs * 1.5;

                &:before {
                    content: counter(li) ".";
                }
            }

            & table {
                min-width: $max-width-sm;
                overflow-x: auto;
                color: #5E5656;
                border: 1px solid $color-br-gray-lt;
                border-collapse: collapse;
                text-align: center;

                > thead {
                    > tr {
                        > th {
                            @include emphasize;
                            padding: $spacing-xs / 2 $spacing-xs;
                            border: 1px solid $color-br-gray-lt;
                        }
                    }
                }

                > tbody {
                    > tr {
                        > td {
                            @include emphasize;
                            padding: $spacing-xs / 2 $spacing-xs;
                            border: 1px solid $color-br-gray-lt;

                            > em {
                                color: $color-gold;
                            }
                        }
                    }
                }
            }

            & figure {
                @include listMargin($spacing-sm);

                > img {
                    display: block;
                    max-width: 100%;
                }

                > figcaption {
                    @include font("body-xs");
                    @include emphasize;
                    @include space($spacing-xs);
                    // border-bottom: 1px solid $color-br-gray-lt;

                    @media (max-width: $screen-xs-max) {
                        display: none;
                    }
                }
            }

            & blockquote {
                @include font("body-xl");
                @include space($spacing-sm);
                position: relative;
                margin-top: $spacing-md;
                margin-bottom: $spacing-sm;
                border-top: 1px solid $color-br-gray-lt;

                > a {
                    @include link;
                    text-transform: none;
                }
            }

            & a {
                color: $color-gold;
            }

            & b,
            & strong {
                @include bold;
                color: $color-fg-gray-dk;
            }

            & em {
                @include italic;
                color: $color-fg-gray-dk;
            }

            & hr {
                width: 100%;
                margin: $spacing-md auto $spacing-sm auto;
            }

            & iframe {
                width: 100%;
            }
        }
    }
}
