$handle: "split-callout";

.#{$handle} {
    @include sectionSpacing;

    &--has-body {
        @media (min-width: $screen-sm-min) {
            display: flex;
            justify-content: space-between;
        }
    }

    &--bg-light {
        background-color: $color-white;
    }

    &__cont {
        @include sectionContainer;

        > h2 {
            @include sectionHeading;
            max-width: 300px;

            .#{$handle}--bg-light > & {
                color: #121212;
            }
        }

        > a {
            @include iconLink;
            margin-top: $spacing-sm;
        }

        > div {
            margin-top: $spacing-sm;

            .#{$handle}--bg-light > & {
                color: $color-fg-gray-dk;
            }

            @media (min-width: $screen-sm-min) {
                width: 50%;
                margin-top: $spacing-md;
            }

            > a {
                @include iconLink;
                margin-top: $spacing-sm;
            }
        }
    }
}
