@mixin link() {
    @include font("link-md");
    display: inline-block;
    line-height: $spacing-xs * 3;
    color: $color-gold;
    transition: color $animate-sm;

    &:hover:not([disabled]) {
        color: darken($color-gold, 5%);
    }
}

@mixin iconLink($pos: "right", $vertical: false) {
    @include link;
    vertical-align: middle;

    > i {
        display: inline-block;
        vertical-align: middle;
        fill: $color-gold;
        transition: transform $animate-sm;

        @if ($pos == "right") {
            margin-left: $spacing-xs / 2;
        }
        @if ($pos == "left") {
            margin-right: $spacing-xs / 2;
        }
    }

    &:hover:not([disabled]) > i {
        @if ($vertical) {
            transform: translateY($spacing-xs / 2);
        } @else {
            transform: translateX($spacing-xs / 2);
        }
    }
}

@mixin button() {
    @include link;
    @include pad($spacing-sm);
    display: inline-block;
    white-space: nowrap;
    min-width: $max-width-xs;
    height: $button-size !important;
    line-height: $button-size !important;
    background-color: $color-gold;
    color: $color-white;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background-color $animate-sm;

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &:hover:not([disabled]) {
        background-color: darken($color-gold, 5%);
        color: $color-white;
    }
}

@mixin iconButton() {
    @include iconLink;
    @include button;

    > i {
        fill: $color-white;
    }
}
