@mixin link() {
    @include font("link-md");
    display: inline-block;
    line-height: $spacing-xs * 3;
    color: $color-fg-gray-dk;
    transition: color $animate-sm;

    &:hover:not([disabled]) {
        color: $color-gold;
    }
}

@mixin iconLink($pos: "right", $vertical: false) {
    @include link;
    vertical-align: middle;

    > i {
        display: inline-block;
        vertical-align: middle;
        fill: $color-gold;
        transition: transform $animate-sm;

        @if ($pos == "right") {
            margin-left: $spacing-xs / 2;
        }
        @if ($pos == "left") {
            margin-right: $spacing-xs / 2;
        }
    }

    &:hover:not([disabled]) > i {
        @if ($vertical) {
            transform: translateY($spacing-xs / 2);
        } @else {
            transform: translateX($spacing-xs / 2);
        }
    }
}

@mixin button($level: "primary", $invert: false) {
    @include link;
    @include pad($button-padding);
    display: inline-block;
    white-space: nowrap;
    min-width: $max-width-xs;
    height: $button-size;
    line-height: $button-size;
    background-color: $color-black;
    border: 1px solid $color-black;
    // border-radius: 4px;
    color: $color-white;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    transition:
        background-color $animate-sm,
        border-color $animate-sm;

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &:hover:not([disabled]) {
        background-color: darken($color-black, 5%);
        border-color: darken($color-black, 5%);
        color: $color-white;
    }

    // bg transparent > bg black
    @if ($level == "secondary") {
        background-color: transparent;
        border: 1px solid $color-white;

        @if ($invert) {
            color: $color-black;
            border-color: $color-black;
        }

        &:hover:not([disabled]) {
            background-color: darken($color-black, 5%);
            border-color: $color-black;
        }
    }

    @if ($level == "tertiary") {
        background-color: $color-gold;
        border: 1px solid $color-gold;

        &:hover:not([disabled]) {
            background-color: darken($color-gold, 5%);
            border-color: darken($color-gold, 5%);
        }
    }
}

@mixin iconButton($level: "primary", $invert: false) {
    @include iconLink;
    @include button($level, $invert);

    > i {
        fill: $color-white;

        @if ($invert) {
            fill: $color-black;
        }
    }

    &:hover:not([disabled]) {
        > i {
            @if ($invert) {
                fill: $color-white;
            }
        }
    }
}

@mixin actionButton() {
    position: relative;
    width: $action-button-size;
    height: $action-button-size;
    background-color: $color-bg-gray-dk;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $animate-sm;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover {
        background-color: darken($color-black, 25%);
    }

    > i {
        @include centerer;
        fill: $color-white;
    }
}
