@mixin sectionContainer($spread: "narrow") {
    @include span(4, $spread, $grid-xs);
    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
        @include span(6, $spread, $grid-sm);
    }

    @media (min-width: $screen-md-min) {
        @include span(8, $spread, $grid-md);
    }

    @media (min-width: $screen-lg-min) {
        @include span(10, $spread, $grid-lg);
    }
}

@mixin sectionSpacing($level: "secondary") {
    @if ($level == "primary") {
        @include space($spacing-lg * 2, $spacing-lg);

        @media (min-width: $screen-sm-min) {
            @include space($spacing-lg * 3, $spacing-md * 3);
        }

        @media (min-width: $screen-md-min) {
            @include space($spacing-xl * 2, $spacing-xl);
        }
    } @else if ($level == "secondary") {
        @include space($spacing-md);

        @media (min-width: $screen-sm-min) {
            @include space($spacing-sm * 3);
        }

        @media (min-width: $screen-md-min) {
            @include space($spacing-lg);
        }
    }
}

@mixin sectionPadding() {
    @include pad($gutter-sm);

    @media (min-width: $screen-sm-min) {
        @include pad($gutter-md);
    }

    @media (min-width: $screen-md-min) {
        @include pad($gutter-lg);
    }
}

@mixin sectionHeading() {
    @include font("heading-md");
    position: relative;
    padding-top: $spacing-md;

    &:before {
        @include absolute(0, auto, auto, 0);
        content: "";
        height: 2px;
        background-color: $color-gold;
        width: $spacing-md;
    }
}
