{##
 # Footer component
 # @global {GlobalSet} gFooter
 #}

{# Params #}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'footer' %}
{% set activeClass = 'is-active' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }}">
    Footer

    {{ components.new(handle, {
        id: id,
        activeClass: activeClass,
    }) }}
</div>
