{##
 # Main component
 # @param {string} content
 #}

{# Params #}
{% set content = content|default('') %}

{# Variables #}
{% set handle = 'main' %}
{% set id = craft.utilities.uniqueId() %}
{% set lockedClass = 'is-locked' %}
{% set loadingClass = 'is-loading' %}
{% set unloadingClass = 'is-unloading' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }}">
    <div>
        {{ content|raw }}
    </div>

    {{ components.new(handle, {
        id: id,
        lockedClass: lockedClass,
        loadingClass: loadingClass,
        unloadingClass: unloadingClass,
    }) }}
</div>

