{##
 # Homepage single
 # @param {Entry} entry
 # |_@param {PlainText} pageHeading
 # |_@param {SuperTable} pageCtas
 # |_@param {SuperTable} metaData
 #}

{# Params #}
{% set ctas = entry.pageCtas.all() %}

{# Markup #}
{% extends '_layouts/main' %}

{% block content %}
    <article>
        <header>
            <h1>{{ entry.pageHeading }}</h1>

            {% if ctas is not empty %}
                <nav>
                    {% for c in ctas %}
                        {% set link = craft.components.getLinkFromCta(c) %}

                        {% if link %}
                            {{ link.render() }}
                        {% endif %}
                    {% endfor %}
                </nav>
            {% endif %}
        </header>
    </article>
{% endblock %}
