{##
 # Services single
 # @param {Entry} entry
 # |_@param {PlainText} pageHeading
 # |_@param {PlainText} pageSubheading
 #}

{# Markup #}
{% extends '_layouts/main' %}

{% block content %}
    <article>
        <header>
            <h1>{{ entry.pageHeading }}</h1>
            <h3>{{ entry.pageSubheading }}</h3>
        </header>
    </article>
{% endblock %}
