{##
 # Address section
 # @param {MatrixBlock} section
 # |_@param {PlainText} heading
 # |_@param {Redactor} address
 # |_@param {Redactor} contact
 # |_@param {Assets} image
 #}

{# Markup #}
<section>
    {% include '_components/address' with {
        heading: section.heading,
        address: section.address,
        contact: section.contact,
        image: section.image.one(),
    } %}
</section>
