{##
 # Featured Entries section
 # @param {MatrixBlock} section
 # |_@param {PlainText} heading
 # |_@param {Entires} entries <pages, people, resources, singles>
 #}

{# Params #}
{% set entries = section.entries.with(['personImage', 'resourceImage', 'resourceAuthor']).all() %}

{# Variables #}
{% set cards = [] %}

{% for e in entries %}
    {% switch e.type.handle %}
        {% case 'person' %}
            {% set certs %}
                {% if e.personCerts is not empty %}
                    <ul>
                        {% for c in e.personCerts %}
                            <li>
                                <h5>{{ c.cert }}</h5>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endset %}

            {% set cards = cards|merge([{
                image: e.personImage[0] ?? null,
                heading: e.personName,
                teaser: e.personTeaser ~ certs,
            }]) %}
        {% case 'resource' %}
            {% set cards = cards|merge([{
                image: e.resourceImage[0] ?? null,
                heading: e.resourceHeading,
                byline: 'By ' ~ (e.resourceAuthor[0] ?? null).personName|default(''),
                teaser: e.resourceTeaser,
                cta: craft.components.getLinkFromEntry(e, 'Learn More'),
            }]) %}
    {% endswitch %}
{% endfor %}

{# Markup #}
<section>
    {% include '_components/cards' with {
        heading: section.heading,
        cards: cards,
    } %}
</section>
