{##
 # Featured Entries section
 # @param {MatrixBlock} section
 # |_@param {PlainText} heading
 # |_@param {Entires} entries <pages, people, resources, singles>
 #}

{# Params #}
{% set entries = section.entries.with(['personImage', 'resourceImage', 'resourceAuthor']).all() %}

{# Variables #}
{% set cards = [] %}

{% for e in entries %}
    {% switch e.type.handle %}
        {% case 'person' %}
            {% set cards = cards|merge([{
                image: e.personImage[0] ?? null,
                heading: e.personName,
                teaser: e.personTeaser,
                cta: craft.components.getLinkFromEntry(e, 'View Bio'),
                openInModal: true,
            }]) %}
        {% case 'resource' %}
            {% set cards = cards|merge([{
                image: e.resourceImage[0] ?? null,
                heading: e.resourceHeading,
                byline: 'By ' ~ (e.resourceAuthor[0] ?? null).personName|default(''),
                teaser: e.resourceTeaser,
                cta: craft.components.getLinkFromEntry(e, 'Learn More'),
            }]) %}
    {% endswitch %}
{% endfor %}

{# Markup #}
<section>
    {% include '_components/cards' with {
        heading: section.heading,
        cards: cards,
    } %}
</section>
