{##
 # Split Callout section
 # @param {MatrixBlock} section
 # |_@param {PlainText} heading
 # |_@param {Redactor} body
 # |_@param {SuperTable} cta
 #}

{# Markup #}
<section>
    {% include '_components/split-callout' with {
        heading: section.heading,
        body: section.body,
        cta: craft.components.getLinkFromCta(section.cta.one()),
    } %}
</section>
