{##
 # Stats section
 # @param {MatrixBlock} section
 # |_@param {SuperTable} stats
 #   |_@param {PlainText} number
 #   |_@param {PlainText} description
 #}

{# Markup #}
<section>
    {% include '_components/stats' with {
        stats: section.stats.all()|map(s => {
            number: s.number,
            description: s.description,
        }),
    } %}
</section>
